/* style.css */

.lexend-deca{
  font-family: "Lexend Deca", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


:root {
    --background-color: #f4f4f9;
    --text-color: #333;
    --header-background: #333;
    --header-text-color: #fff;
    --box-background: #fff;
    --search-box-background: #fff;
    --search-box-color: #333;
    --border-color: #ddd;
    
}

body.dark-mode {
    --background-color: #1e1e1e;
    --text-color: #e0e0e0;
    --header-background: #222;
    --header-text-color: #e0e0e0;
    --box-background: #333;
    --search-box-background: #fff;
    --search-box-color: #333;
    --border-color: #444;
}

body {
    height: 100%;
    overflow: hidden;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--text-color);
}

#header {
    padding: 20px;
    background-color: var(--header-background);
    color: var(--header-text-color);
    position: relative;
}

#header h1 {
    margin: 0;
    font-size: 2em;
}

#header p {
    margin: 5px 0;
    font-size: 0.9em;
    color: #919191;
}
#mainContainer {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow:hidden;
}

/* About section for larger screens */
#aboutSection {
    display: block;
}

/* About button is hidden on larger screens */
#aboutToggle {
    display: none;
}

/* Media query for smaller screens */
@media (max-width: 600px) {
    body{
        overflow-y: scroll;
    }
    #header {
        padding: 10px;
        position: sticky;
        top:0;
    }

    #header h1 {
        font-size: 1.5em;
    }

    /* Hide the about section and show the button on small screens */
    #aboutSection {
        display: none;
    }
    

    #aboutToggle {
        display: inline-block;
        background: none;
        border: none;
        color: var(--header-text-color); /* Or another color to match the text */
        font-size: 14px;
        cursor: pointer;
        text-decoration: underline;
        padding: 0;
    }
    
    #aboutToggle:hover {
        text-decoration: none;
    }
}

#searchContainer {
    padding: 10px;
    background-color: var(--box-background);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    gap: 5px;
    z-index: 1;
    display: flex;
    flex-direction: column;
}

#searchInput {
    flex: 1; /* Allows the input to fill available space without overflowing */
    padding: 8px;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    background-color: var(--search-box-background);
    font-size: 16px;
    color: black;
}

#searchFilters {
    display: flex;
    align-items: center;
    gap: 0px 10px;
    flex-wrap: wrap;
}

#thumbnailToggleContainer {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: var(--text-color);
}


#categorySelect,
#sortSelect,
#sortOrderSelect,
#featuredSelect,
#startDate,
#endDate,
#dateToggle {
    padding: 5px;
    margin: 5px 0;
    height: 28px;
    border: 1px solid var(--border-color);
    background-color: var(--box-background);
    border-radius: 4px;
    font-size: 14px;
    color: var(--text-color);
    cursor: pointer;
}




#dateContainer {
    display: inline-block;

}


#thumbnailToggle {
    margin-left: 5px;
}
#nightModeToggle {
    margin-bottom: 20px;
}

#postList {

    background-color: var(--box-background);
    flex-grow: 1; /* Allow postList to fill remaining space */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    overflow-y: auto;
}
#noResults {
    text-align: center;
}

.post {
    border-bottom: 1px solid #ddd;
    padding: 10px 20px;
}

.post-container {
    display: flex;
    align-items: center; /* Centers items vertically */
    gap: 10px;
}
/* Define colors for each category */
.category-design { border-left: 4px solid #f0af17; } 
.category-business { border-left: 4px solid #50b47b; }  
.category-programming { border-left: 4px solid #bf77d0; } 
.category-game-platforms { border-left: 4px solid #bb933d; }  
.category-production { border-left: 4px solid #5e70c7; } 
.category-audio { border-left: 4px solid #7ca743; }  
.category-art { border-left: 4px solid #964288; } 
.category-marketing { border-left: 4px solid #b75435; } 
.category-pc { border-left: 4px solid #43d4c6; }  
.category-extended-reality { border-left: 4px solid #595f42; }  
.category-console { border-left: 4px solid #487325; } 
.category-other { border-left: 4px solid #7f8c8d; } 


.thumbnail {
    display: flex;
    align-items: center; /* Centers image vertically within the thumbnail */
    justify-content: center;
}

.thumbnail img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 5px;
}

.post-content {
    flex: 1;
}

.post h3 {
    margin: 0;
}
.post h3 a {
    color: var(--text-color);
    text-decoration: none;
}

.post h3 a:hover {
    text-decoration: underline;
}

.highlight {
    background-color:  rgb(255, 166, 0);
    color: black;
    font-weight: bold;

}

.post p {
    margin: 5px 0;
    color: var(--text-color);
}

/* Dropdown container styling */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--box-background);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    padding: 10px;
    border-radius: 4px;
    z-index: 1;
}

.dropdown-content input[type="date"] {
    margin: 5px 0;
}

/* Show the dropdown when active */
.dropdown.active .dropdown-content {
    display: block;
}



/* Define diagonal stripe background animation */
@keyframes loadingStripes {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 100% 100%;
    }
}

.loading #searchInput {
    background-image: linear-gradient(
        45deg,
        rgba(0, 0, 0, 0.1) 25%,
        transparent 25%,
        transparent 50%,
        rgba(0, 0, 0, 0.1) 50%,
        rgba(0, 0, 0, 0.1) 75%,
        transparent 75%,
        transparent
    );
    background-size: 20px 20px;
    animation: loadingStripes 5s linear infinite;
}
